.cardlink {
	border: 5px solid transparent;
}

.cardlink a {
	color: black;
	margin: 0;
}

.maxcardwidth {
	max-width: 1400px;
}

.maximgheight {
	object-fit: cover;
	height: 200px;
}

.card-img-top {
	object-fit: cover;
	max-height: 150px;
}

.tabspaces {
	padding: 0px 10px;
}

.btn-margin button {
	margin: 8px;
}

.reportermcard:hover {
	border: 5px solid red;
}

.reportermcard a:hover {
	text-decoration: none;
	color: darkred;
}

.anecdaynotecard:hover {
	border: 5px solid blue;
}

.anecdaynotecard a:hover {
	text-decoration: none;
	color: darkblue;
}

.factalecard:hover {
	border: 5px solid green;
}

.factalecard a:hover {
	text-decoration: none;
	color: darkgreen;
}

.magentatext {
	color: darkmagenta;
}
